
/* Landing Page Styling Below */
#landing-page {
    background-image: url(/assets/images/landingBG.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
}

#title-font {
    font-size: 100px;
    padding: 30px;
}

#form  {
    padding-top: 400px;
}



/* Rep Org Tree Styling Below */
#org-tree-page {
    background-color: #85b1b4;
}

.org-tree {
    height: 100vh;
    background-color: #f3f5f6;
}

.navbar {
    background-color: #d7d7d7;
    
}

#federal {
    background-color: #d7d7d7;
    border-style: solid;
    color: black;
}

/* .column {
    border : 1px solid black;
}

.column:hover {
    cursor: pointer;
    background-color: lightcyan;
} */

@media screen and (max-width: 768px) {
    /* screens 768 and under */

    #form  {
        padding-top: 0px;
    }
   
}
/* @media screen and (min-width: 769px) and (max-width: 1024px) {
    /* CSS styles that should apply to screens between 768px and 1024px */
/* }
@media screen and (min-width: 768px) and (max-width: 1024px) { */
    /* CSS styles that should apply to screens between 768px and 1024px */
/* }  */
