
/* Landing Page Styling Below */
#landing-page {
    background-image: url(/assets/images/landingBG.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
}

.kyg-title {
    position: relative;
    left: 100px;
    top: 50px;
}

.address-input {
    /* border-style: solid; */
    position: relative;
    top: 725px;
    right: 50px;

}

#title-font {
    font-size: 100px;
}


/* Rep Org Tree Styling Below */
#org-tree-page {
    background-color: #85b1b4;
}

.org-tree {
    height: 100vh;
    background-color: #f3f5f6;
}

.navbar {
    background-color: #d7d7d7;
    
}

#federal {
    background-color: #d7d7d7;
    border-style: solid;
    color: black;
}

.column {
    border : 1px solid black;
}

.column:hover {
    cursor: pointer;
    background-color: lightcyan;
}